$black-color: #222222;
$pink-dark-color: #f16d7f;
$pink-color: #f1e4e6;
$pink-color-button: #f26376;
$black-color-footer: #222224;
$white-color: #ffffff;
$black-color: #000000;
$sub-grey: #e1e1e1;
$straight-grey: #e2e2e2;
$total-grey: #f5f3f3;
$product-heading: #f8f3f4;
$intro-bckg-grey: #dee2e6;

$color-primary: #5ec576;
$color-secondary: #ffcb03;
$color-tertiary: #ff585f;
$color-primary-darker: #4bbb7d;
$color-secondary-darker: #ffbb00;
$color-tertiary-darker: #fd424b;
$color-primary-opacity: #5ec5763a;
$color-secondary-opacity: #ffcd0331;
$color-tertiary-opacity: #ff58602d;
$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
$gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);

// $desktop-width: 1600px;
// $tablet-width: 768px;
// $mobile-width: 375px;
