$black-color: #222222;
$pink-dark-color: #f16d7f;
$pink-color: #f1e4e6;
$pink-color-button: #f26376;
$black-color-footer: #222224;
$white-color: #ffffff;
$black-color: #000000;
$sub-grey: #e1e1e1;
$straight-grey: #e2e2e2;
$total-grey: #f5f3f3;
$product-heading: #f8f3f4;
$intro-bckg-grey: #dee2e6;

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;
