.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -0.05rem;
}

.recording__button {
  margin-top: 50px;
}

.personal__theraphy {
  padding-top: 70px;
}

.myHelp__cards {
  padding-top: 70px;
}
