.footer {
  margin-top: 3em;
}

.service {
  // background-color: $black-color-footer;
  min-height: 341px;
  margin: 0 auto;

  @include mobile {
    max-width: 100%;
    padding-bottom: 81px;
  }

  @include tablet {
    padding-bottom: 64px;
  }
}

.service__light {
  min-height: 341px;
  margin: 0 auto;

  @include mobile {
    max-width: 100%;
    padding-bottom: 81px;
  }
}

// .service__light--wrapper {
// }

.service__light--heading {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  min-height: 73px;
}

.service__light--head {
  font-size: 20px;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  min-height: 73px;
  text-align: center;
}

.light__heading {
  font-size: 20px;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  min-height: 73px;
}
.light__text {
  font-size: 20px;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  min-height: 73px;
}

.service__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.service__heading {
  color: black;
  text-align: center;
}

.service__nomination {
  margin: 103px 0 0 0;
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__link {
  margin-top: 28px;
  color: black;
  text-decoration: none;
}

.service__text {
  width: 360px;
  min-height: 34px;
  margin-top: 16px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-decoration: none;

  @include mobile {
    max-width: 347px;
  }
}

.subscribe__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

  @include tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin-left: 25px;
  }
}

.subscribe__review {
  display: flex;
}

.subscribe {
  background-image: url("../img/sub-background.jpg");
  min-height: 448px;
  width: 100%;
  background-size: cover;

  @include tablet {
    padding-bottom: 140px;
  }
}

.subscribe__item {
  align-items: center;
  flex-direction: column;
  margin-top: 97px;

  @include tablet {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 40px;
  }

  @include mobile {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

.subscribe__text {
  max-width: 359px;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  min-height: 73px;

  @include tablet {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @include mobile {
    max-width: 250px;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.subscribe__heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;

  @include tablet {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.subscribe__text-heading {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.subscribe__input {
  display: flex;
  max-width: 256px;
  height: 49px;
  background-color: $sub-grey;
  border-radius: 100px 0px 0px 120px;
  align-items: center;
  text-align: center;
  border: none;
}

.subscribe__button {
  display: flex;
  max-width: 100px;
  min-height: 49px;
  background: $pink-color-button;
  border-radius: 0px 100px 120px 0px;
  align-items: center;
  text-align: center;
  border: none;
}

.subscribe__wrapper {
  display: flex;
  justify-content: center;
}

.cellar {
  background-color: black;
}

.cellar__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 10px;
  }
}

.cellar__therights {
  justify-content: flex-start;
}

.cellar__wrapper {
  display: flex;
  justify-content: flex-end;

  @include tablet {
    margin-right: 50px;
  }

  @include mobile {
    margin-left: 30px;
  }
}

.cellar__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #fbfbfb;
}

.cellar__button {
  max-width: 32px;
  min-height: 32px;
  margin: 32px 0 23px 0;
}

.cellar__button:hover {
  background: $pink-dark-color;
  box-shadow: inset 0 0 0 3px $pink-dark-color;
}

.browse {
  margin-top: 48px;
  margin-bottom: 96px;
  text-align: center;
}

.browse__button {
  color: $pink-color-button;
  border: 1px solid #ff6a6a;
  background-color: white;
  width: 211px;
  height: 47px;
}

.browse__button-link {
  text-decoration: none;
}

.browse__button-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: $pink-dark-color;
}

footer-20192 {
  position: relative;
  color: $white;
  padding: 7rem 0;
  background-color: #141d2a;
  .container {
    position: relative;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5;
  }

  .links {
    li {
      margin-bottom: 10px;
      line-height: 1.5;
      display: block;
      a {
        color: #666873;
        &:hover {
          color: #fff;
        }
      }
    }
  }

  .footer-logo {
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  .copyright {
    color: #666873;
  }

  .cta {
    box-shadow: -20px -20px 0 0 rgba($dark, 0.2);
    padding: 20px;
    background-color: #8186d5;
    top: -150px;
    position: relative;
    h2,
    h3 {
      line-height: 1.5;
    }
    h3 {
      font-size: 20px;
    }
  }
}

.education {
  margin-top: 3em;
}

// .education__background {
//   background-image: url(../../img/background/sub-background.jpg);
//   background-size: cover;
// }
