.navbar__color {
  background-color: #212529;
}

.persona {
  background-color: #dee2e6;
}

.persona__text {
  max-width: 300px;
  text-align: center;
}

.persona__heading {
  max-width: 300px;
  text-align: center;
}

.persona__image {
  width: 1000px;
}
